OPENAI_API_KEY=""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""
GROQ_API_KEY=""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""
HUGGINGFACE_API_KEY=your_huggingface_key_her
GOOGLE_API_KEY=""AIzaSyD3O0ef22Pexl9FYLl26kDUhg_ZDOZQGIg""
COHERE_API_KEY=""sy4F6cYCzxm2xOZXNNG0RvkEanzKcYfcHF1H8ws9""
